<%= image_tag @pin.image.url(:medium) %>
<h1>
    
    <%= @pin.title %>
</h1>
<p>
    
    <%= @pin.description %>
</p>

<p>Submitted by <%= @pin.user.email %></p>
<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_pin_path %>
<%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure want to delete"} %>