<div class="row" id="pin_show">
  <div class="col-md-6">
        <%= image_tag @pin.image.url, class: "img-responsive img-rounded" %>
     
  </div>
  
  <div class="col-md-6 ">
    <div class="panel panel-default">
      
      <div class="panel-body">
        
         <%= link_to "Home", root_path, class: "btn btn-default" %>
        <h1>
          <%= @pin.title %>
        </h1>
        <p class="description">
          <%= @pin.description %>
        </p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user">
              Submitted by
              <%= @pin.user.email %>
            </p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <%= @pin.get_upvotes.size %>
              <% end %>
              <% if user_signed_in? %>
              
                <%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
               <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure want to delete"}, class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
